.studySetCard {
  border: 1px solid #dadce0;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  padding: 24px;
  display: block;

  h5 {
    margin: 0 0 24px 0;
  }
}

.cardWrapper {
}

.categories {
  margin-top: 12px;

  div {
    display: inline-block;
    margin-right: 8px;
    margin-top: 4px;

    img {
      display: block;
      height: 16px;
      width: 16px;
    }
  }
}
