@import "../../styles/mixins";
@import "../../styles/variables";

.studySetCard {
  border: 1px solid $border-color;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  padding: 24px;
  display: block;
  box-sizing: border-box;

  @include dark-mode {
    border-color: $dark-mode-border-color;
  }

  h5 {
    margin: 0 0 24px 0;
  }
}

.timestamp {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}

.categories {
  margin-top: 12px;

  div {
    display: inline-block;
    margin-right: 8px;
    margin-top: 4px;

    img {
      display: block;
      height: 16px;
      width: 16px;
    }
  }
}
