.avatar {
  position: relative;
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.625rem;
}

.avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-group {
  display: inline-flex;
}
