.badge-float {
  position: absolute;
  z-index: 1;
}

.badge-float-inside {
  top: 1rem;
  right: 1rem;
}

.badge-pill {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 10rem;
}

.badge-primary-soft {
  background-color: rgba($color: $primary, $alpha: 0.1);
  color: $primary;
}
