.header-wrapper {
  background-size: cover;
  background-position: center;
  position: relative;

  &.header-wrapper-fixed-navbar {
    padding-top: 5rem;
  }

  &.header-wrapper-background {
    background-color: #aaa;
    background-blend-mode: multiply;
  }

  .navbar {
    color: #fff;
  }
}
