@import "~bootstrap/scss/mixins/breakpoints";

$navbar-container-py: 1.25rem;

$nav-link-color: $gray-900;

.navbar {
  padding: 0;
  transition: background-color 0.25s ease, color 0.25s ease;

  .container {
    padding: $navbar-container-py 1rem;
    display: flex;
    justify-content: space-between;
  }

  .brand-link {
    .logo {
      height: 16px;
    }
  }

  &.navbar-dark {
    .container {
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
      padding-bottom: calc(#{$navbar-container-py} - 1px);
    }

    .nav {
      .nav-link {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }

    .navbar-toggler {
      color: #fff;
    }
  }

  .nav {
    margin-right: -1rem;

    @include media-breakpoint-up(lg) {
      margin-right: -1.5rem;
    }

    .nav-link {
      color: $nav-link-color;
      font-weight: 500;
      font-size: 0.9375rem;
      transition: color 0.15s ease;

      &:hover,
      &-active {
        color: #335eea;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

.navbar-toggler {
  &,
  &:focus,
  &:hover,
  &:active {
    padding: 0;
    background-color: transparent;
    color: $nav-link-color;
    border: none;
    outline: none;
    z-index: 10001;
    transition: all 0.25s ease-in-out;
  }

  &.nav-shown {
    color: $white;
    transform: rotateZ(90deg);
  }
}

$mobile-nav-width: 100vw;

.mobile-nav {
  background-color: #111;
  color: $white;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: $mobile-nav-width;
  z-index: 10000;
  transition: transform 0.25s ease-in-out;
  transform: translateX(0);

  ul {
    list-style: none;
    padding: 0;
    padding-top: 67px;
    margin: 0;

    li {
      transform: translateX(100%);
      opacity: 0;
      transition: all 0.25s ease-in-out;

      @for $i from 1 to 20 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 70ms + 100ms;
        }
      }
    }

    .nav-link {
      color: $white;
      border-top: 1px solid rgba($white, 0.1);
      font-size: 1.25rem;
    }
  }

  &.shown {
    transform: translateX(-100%);

    ul li {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.mobile-nav-overlay {
  background-color: rgba(#000, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &.shown {
    opacity: 1;
    pointer-events: all;
  }
}
