@import "../variables";

$page-progress-bar-color: $primary;

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  .bar {
    background: $page-progress-bar-color;

    position: fixed;
    z-index: 10010;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $page-progress-bar-color,
      0 0 5px $page-progress-bar-color;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}
