@import "../../styles/breakpoints";
@import "../../styles/mixins";

.wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 1px solid #e8eaed;
}

.footer {
  @include max-width;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(6, 1fr);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

.footerTitle {
  font-size: 14px;
  margin-bottom: 1em;
  font-weight: 500;
}
