@import "../../styles/grid";
@import "../../styles/breakpoints";

.section {
  margin: 60px 0;

  @include mobile {
    margin: 160px 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-mobile, 1fr);
  grid-column-gap: $grid-column-gap-mobile;
  max-width: 100%;

  @include tablet {
    grid-column-gap: $grid-column-gap-tablet;
  }

  @include desktop {
    grid-template-columns: repeat($grid-columns-desktop, 1fr);
    grid-column-gap: $grid-column-gap-desktop;
  }
  
  @include desktop-large {
    grid-column-gap: $grid-column-gap-desktop-large;
  }

  // Default children take up full width
  > * {
    grid-column: span $grid-columns-mobile;
    @include desktop {
      grid-column: span $grid-columns-desktop;
    }
  }
}
