@import "../../styles/grid";
@import "../../styles/breakpoints";
@import "../../styles/mixins";

.section {
  @include max-width;

  margin-top: 60px;
  margin-bottom: 60px;

  @include mobile {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-mobile, 1fr);
  grid-gap: $grid-column-gap-mobile;
  max-width: 100%;

  @include tablet {
    grid-gap: $grid-column-gap-tablet;
  }

  @include desktop {
    grid-template-columns: repeat($grid-columns-desktop, 1fr);
    grid-gap: $grid-column-gap-desktop;
  }
  
  @include desktop-large {
    grid-gap: $grid-column-gap-desktop-large;
  }
}