@import "../../styles/breakpoints";
@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  margin-top: $nav-height;

  @include dotted-background(10px, 2px, #fff, #ddd);

  @include dark-mode {
    @include dotted-background(10px, 2px, $dark-mode-background, #2c2c2c);
  }

  h1, h2 {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  padding: 48px 0;
  
  @include tablet {
    padding: 120px 0;
  }
}

.wrapper {
  @include max-width;
}