@import "../../styles/breakpoints";
@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  margin-top: $nav-height;
  padding: 48px 0;

  @include dotted-background(10px, 2px, #fff, #ddd);

  h1, h2 {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mobile {
    padding: 120px 0;
  }
}

.wrapper {
  @include max-width;
}