@import "../../styles/breakpoints";

.appWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  -webkit-font-smoothing: antialiased;

  @include mobile {
    padding: 0 40px;
  }

  @include tablet {
    padding: 0 60px;
  }

  @include desktop {
    padding: 0 80px;
  }
}