.wrapper {
  background-color: #fff;
  height: 64px;
  width: 100%;
  margin: 0 -16px;
}

.ul {
  margin: 0;
  padding: 0;
}

.li {
  float: left;
  list-style: none;
  line-height: 64px;
  padding: 0 24px;
}

.a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  display: inline-block;
  transition: color 0.1s;
  font-size: 14px;
  color: #5F6368;

  &:hover {
    color: #1A73E8;
  }
}