@import "../../styles/breakpoints";
@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  background-color: #fff;
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.ul {
  margin: 0;
  padding: 0;

  @include tablet {
    margin: 0 48px;
  }
}

.li {
  float: left;
  list-style: none;
  line-height: $nav-height;
  padding: 0 16px;

  @include tablet {
    padding: 0 24px;
  }
}

.a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  display: inline-block;
  transition: color 0.1s;
  font-size: 14px;
  color: #5F6368;

  &:hover {
    color: #1A73E8;
  }
}