@import "../../styles/breakpoints";
@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  background-color: #fff;
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @include dark-mode {
    background-color: $dark-mode-background;
  }
}

.ul {
  margin: 0;
  padding: 0;

  @include tablet {
    margin: 0 48px;
  }
}

.li {
  float: left;
  list-style: none;
  line-height: $nav-height;
  padding: 0 16px;

  @include tablet {
    padding: 0 24px;
  }
}

.a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  display: inline-block;
  transition: color 0.1s;
  font-size: 14px;
  color: #5f6368;

  &:hover {
    color: #1a73e8;
  }

  @include dark-mode {
    color: #fff;

    &:hover {
      color: #ffffffcc;
    }
  }
}
