@import "../../styles/mixins";

@import url("https://rsms.me/inter/inter.css");

.text {
  font-family: "Inter", sans-serif;
  word-wrap: break-word;
}

@supports (font-variation-settings: normal) {
  .text {
    font-family: "Inter var", sans-serif;
  }
}

.h1 {
  font-size: 18px;
  margin: 1em 0;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.022em;

  @include sm {
    font-size: 24px;
  }
}

// .h2 {
//   font-size: 32px;
//   margin: 0.5em 0;
//   line-height: 1.15;
//   font-weight: 500;
// }
