@import "../../styles/breakpoints";

.day {
  &[data-highlight] {
    border-top: 2px solid #1a73e8;
    background-color: #1a73e810;
  }

  td {
    vertical-align: middle;
    border: 1px solid #e8eaed;
    padding: 8px;

    @include mobile {
      padding: 8px 16px;
    }
  }
}

.datewrapper {
  text-align: center;
  color: #5f6368;
  margin: 0;
}

.date {
  font-size: 18px;
  font-feature-settings: "tnum" 1, "ss01" 1;
  letter-spacing: -0.1em;
  display: block;
  line-height: 1;
  margin: 6px 0;

  @include mobile {
    font-size: 24px;
  }
}

.weekday {
  margin: 6px 0;
  font-size: 12px;

  @include mobile {
    font-size: 14px;
  }
}

.mainContentWrapper {
  width: 100%;
}

.dishes {
  margin: 8px 0;
}

.dish {
  display: block;
  margin: 8px 0;
  line-height: 1.15;
}

.photos {
  margin: 8px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(9, 1fr);
  }

  @include desktop-large {
    grid-template-columns: repeat(12, 1fr);
  }
}

.photo {
  grid-column: span 1;

  img {
    display: block;
    border-radius: 4px;
    width: 100%;
  }
}
