.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.previous,
.next {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 18px;
  letter-spacing: 0.25px;
  padding: 6px 18px;
  color: #1a73e8;
  cursor: pointer;
  transition: background-color 0.2s ease;
  line-height: 18px;
  user-select: none;

  svg {
    display: inline-block;
    line-height: 24px;
    vertical-align: text-bottom;
  }

  &:hover {
    background-color: #1a73e820;
  }
}

.previous {
  svg {
    margin-right: 4px;
    margin-left: -5px;
  }
}

.next {
  svg {
    margin-left: 4px;
    margin-right: -5px;
  }
}
