.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-bottom: 1px solid var(--accents-2);
    font-size: 14px;
    padding: 10px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
