.container {
  position: absolute;
  top: calc(var(--hour-height) * var(--hours));
  width: 100%;
  z-index: 1;
}

.label {
  background-color: var(--color-bg-danger);
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-feature-settings: "ss01", "tnum";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 0;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  width: calc(var(--sidebar-width) - var(--cell-spacing));
}

.bar {
  --bar-color: var(--color-border-danger);

  composes: horizontal-bar from "./CalendarTableSidebar.module.scss";
}
