.heading {
  border-right: 1px solid var(--border-color);
  flex: 1;
  font-size: 16px;
  padding: 16px 0;
  text-align: center;

  &.big {
    font-size: 24px;
    padding: 16px;
    text-align: inherit;
  }

  h2,
  h3 {
    font-size: inherit;
    font-weight: 600;
    letter-spacing: -0.022em;
    margin: 0;
  }

  h2 {
    color: var(--color-text-primary);
  }

  h3 {
    color: var(--color-text-tertiary);
  }

  &.now h2,
  &.now h3 {
    color: var(--color-highlight);
  }
}
