@use "../../../styles/breakpoints";

.heading {
  --padding: 8px;

  border-right: 1px solid var(--border-color);
  flex: 1;
  font-size: 14px;
  padding: var(--padding) 0;
  text-align: center;

  @include breakpoints.m(min) {
    --padding: 16px;

    font-size: 16px;
  }

  &.big {
    font-size: 16px;
    padding: var(--padding);
    text-align: inherit;

    @include breakpoints.m(min) {
      font-size: 24px;
    }
  }

  h2,
  h3 {
    font-size: inherit;
    font-weight: 600;
    letter-spacing: -0.022em;
    margin: 0;
  }

  h2 {
    color: var(--color-text-primary);
  }

  h3 {
    color: var(--color-text-tertiary);
  }

  &.now h2,
  &.now h3 {
    color: var(--color-highlight);
  }
}

.wrapper {
  border-right: 1px solid var(--border-color);
  flex: 1;
  height: calc(var(--hour-height) * 24);
  padding: 0 var(--cell-spacing);
}

.container {
  position: relative;
  z-index: 1;
}
