@use "../../../styles/breakpoints";

.wrapper {
  --hour-height: 96px;
  --sidebar-width: 48px;
  --cell-spacing: 4px;

  border-top: 1px solid var(--border-color);
  position: relative;

  @include breakpoints.l(min) {
    --sidebar-width: 64px;
  }
}

.head {
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: -1px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.days-section {
  border-left: 1px solid var(--border-color);
  display: flex;
  margin-left: var(--sidebar-width);
}

.body {
  padding-bottom: 24px;
  position: relative;
}
