.base {
  background-color: transparent;
  border: 0;
  border-radius: var(--cell-border-radius);
  color: var(--color-text-tertiary);
  cursor: pointer;
  display: block;
  font-family: var(--font-sans);
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.1s;

  &:hover {
    background-color: var(--accents-2);
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.in-scope {
  background-color: var(--accents-2);
}

.selected-month {
  color: var(--color-text-primary);
  font-weight: 500;
}

.today {
  color: var(--color-highlight);
}

.cursor {
  color: #fff;

  &::after {
    background-color: var(--color-highlight);
    border-radius: var(--cell-border-radius);
  }
}

.sharp-left-corners {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.sharp-right-corners {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.text-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.cell-label {
  display: inline-block;
  font-feature-settings: "ss01";
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.event-dot-container {
  bottom: 6px;
  display: flex;
  position: absolute;

  > span {
    background-color: var(--event-dot-color);
    border-radius: 50%;
    display: block;
    height: 4px;
    margin: 0 2px;
    width: 4px;
  }
}
