.base {
  --cell-border-radius: 8px;
}

.table {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.table-head {
  color: var(--color-text-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 4px;
  text-align: center;
}
