@import "./mixins";
@import "./variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";

@import url("https://rsms.me/inter/inter.css");

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  letter-spacing: -0.02em;
}

h6,
.h6 {
  line-height: 1.55;

  &.text-uppercase {
    letter-spacing: 0.08em;
  }

  &.font-weight-bold {
    font-weight: 600 !important;
  }
}

h3,
.h3 {
  font-size: 1.125rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.3125rem;
  }
}

.text-white-80 {
  color: rgba($color: #fff, $alpha: 0.8);
}
