$breakpoints: (
  s: 480px,
  m: 768px,
  l: 1024px,
  xl: 1200px,
);

@mixin breakpoint($breakpoint, $direction) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else if $direction == min { /* stylelint-disable-line */
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else { /* stylelint-disable-line */
    @error "$direction must be \"max\" or \"min\".";
  }
}

@mixin s($direction) {
  @include breakpoint(s, $direction) {
    @content;
  }
}

@mixin m($direction) {
  @include breakpoint(m, $direction) {
    @content;
  }
}

@mixin l($direction) {
  @include breakpoint(l, $direction) {
    @content;
  }
}

@mixin xl($direction) {
  @include breakpoint(xl, $direction) {
    @content;
  }
}
