.card {
  border-radius: 0.75rem;
  padding: 0.75rem;
  word-wrap: break-word;
}

.large {
  padding: 1rem;
}

.normal {
  background-color: var(--color-bg-primary);
  box-shadow: 0 0 0 1px var(--color-border-primary);
}

.colorful {
  background-color: var(--color-highlight-transparent);
  background-image: linear-gradient(135deg, var(--color-highlight), var(--color-highlight-light));
  box-shadow: 0;
  color: #fff;
}
