@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  transform: translateZ(0);
}

.artwork {
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  @include dark-mode {
    background-color: $dark-mode-background;
    color: #fff;
  }

  img {
    margin-bottom: 0;
    width: 100%;
    display: block;
  }

  .content {
    padding: 16px;
  }

  .details {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25;
    margin: 0;

    span:not(:last-child)::after {
      content: "·";
      margin: 0 12px;
    }
  }
}
