.wrapper {
  background-color: #fff;
  height: 64px;
  width: 100%;
}

.ul {
  margin: 0;
  padding: 0;
}

.li {
  float: left;
  list-style: none;
  line-height: 64px;
  padding: 0 16px;
}

.a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  display: inline-block;
}