@import url("https://rsms.me/inter/inter.css");

.text {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  .text {
    font-family: "Inter var", sans-serif;
  }
}

.text {
  
}

.h1 {
  font-size: 40px;
  margin: 0.5em 0;
  line-height: 1.15;
  font-weight: 400;
}