.sidebar {
  background-color: var(--color-bg-secondary);
  flex: 0 0 300px;
  padding: 0 1.5rem;

  section {
    margin: 1.5rem 0;
  }
}

.sticky {
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}
