@use "../../styles/breakpoints";

.container {
  --navbar-height: 64px;
  --dashboard-gutter: 16px;

  height: 100vh;
  overflow: hidden;

  @include breakpoints.m(min) {
    --dashboard-gutter: 24px;
  }
}

.columns {
  --sidebar-width: 282px;
  --sidebar-transition: all 0.25s ease;

  display: flex;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  width: 100%;

  > main {
    flex: 1 1;
    overflow-y: auto;
    padding: 0 var(--dashboard-gutter);
    transition: var(--sidebar-transition);
    width: 100%;

    @include breakpoints.m(max) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &.sidebar-hidden > main {
    margin-right: calc(-1 * var(--sidebar-width));
  }

  > aside {
    background-color: var(--color-bg-secondary);
    box-sizing: border-box;
    flex: 0 0 var(--sidebar-width);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 var(--dashboard-gutter);
    transition: var(--sidebar-transition);
  }

  > aside section {
    margin: 1.5rem 0;
  }

  &.sidebar-hidden > aside {
    transform: translateX(100%);
  }
}
