.container {
  --sidebar-width: 282px;
  --sidebar-transition: all 0.25s ease;

  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  > main {
    flex: 1 1;
    overflow-y: auto;
    padding: 0 1.5rem;
    transition: var(--sidebar-transition);
    width: 100%;
  }

  &.sidebar-hidden > main {
    margin-right: calc(-1 * var(--sidebar-width));
  }

  > aside {
    background-color: var(--color-bg-secondary);
    box-sizing: border-box;
    flex: 0 0 var(--sidebar-width);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1.5rem;
    transition: var(--sidebar-transition);
  }

  > aside section {
    margin: 1.5rem 0;
  }

  &.sidebar-hidden > aside {
    transform: translateX(100%);
  }
}
